* {
  margin: 0;
  padding: 0;
}

html, body {
  background-color: $dark_blue;
  font-family: 'Arial', sans-serif;
}

.header-block {
  display: flex;
  align-self: center;
  align-items: center;
  margin-top: 68px;
  margin-left: 40px;
  margin-bottom: 44px;
  flex-wrap: wrap;

  &__heading {
    color: $white;
    font-weight: normal;
  }

  &__img {
    margin-right: 72px;
    margin-bottom: 16px;
  }
}

.main-block {
  background-color: $white;
  padding-left: 40px;
  padding-right: 40px;

  &__heading {
    line-height: 1;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
    color: $red;
    padding-top: 48px;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}
  &__news {
    display: flex;
  }

  &__article {
    display: flex;
    padding-top: 15px;
    padding-right: 41px;
  }

  &__text {
    display: block;
    margin-left: 20px;
  }

  &__article-heading {
    font-weight: 800;
  }
}

.uppercase {
  text-transform: uppercase;
}
