* {
  margin: 0;
  padding: 0;
}

html, body {
  background-color: $dark_blue;
  font-family: 'Arial', sans-serif;
}

.header-block {
  display: flex;
  align-self: center;
  align-items: center;
  margin-top: 68px;
  margin-left: 40px;
  margin-bottom: 44px;
  flex-wrap: wrap;

  &__heading {
    color: $white;
    font-weight: normal;
  }

  &__img {
    margin-right: 72px;
    margin-bottom: 16px;
  }
}

.main-block {
  background-color: $white;
  padding-left: 40px;
  padding-right: 40px;

  &__heading {
    line-height: 1;
    color: $red;
    padding-top: 48px;
    padding-bottom: 10px;
}
  &__news {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid black;
  }

  &__part {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    max-width: 400px;
  }

  &__article {
    display: flex;
    padding-top: 15px;
  }

  &__article-heading {
    margin-bottom: 10px;
  }

  &__text {
    display: block;
    margin-left: 20px;
    margin-top: -6px;
  }

  &__link {
    margin-bottom: 16px;
    max-width: 40%;
    background-color: $red;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    color: $white;
    font-size: 14px;
    font-weight: bold;
    margin-top: 20px;
  }

  &__article-heading {
    font-weight: 800;
  }

}

.uppercase {
  text-transform: uppercase;
}

.text-shadow {
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}
