.stock-block {
  background-color: $blue;
  padding-bottom: 30px;

  &__heading {
    line-height: 1;
    color: $red;
    padding-top: 48px;
    margin-left: 40px;
  }

  &__pictures {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-self: center;
  }

  &__img {
    margin: 40px;
    transition: .3s ease;
  }

  &__img:hover {
    transform: scale(1.05);
  }
}
